# === EXPO ===
.expo/
.expo-shared/
dist/
web-build/

# === NODE ===
node_modules/
npm-debug.log*
.env
.env.local

# === OS ===
.DS_Store
Thumbs.db

# === ANDROID / IOS ( solo si usás EAS) ===
android/
ios/
# Expo cache (NUNCA subir)
.expo/
.expo-shared/
dist/

